html{
  height: 100%;
}
#ingredient {
  background-color: rgba(202, 160, 145, 0.7);
  border-radius: 20px;
}
#recette {
  background-color: rgba(202, 160, 145, 0.7);
  border-radius: 20px;
}
#commentaire {
  background-color: rgba(202, 160, 145, 0.7);
  border-radius: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
#ingredient,
#recette,
#commentaire {
  width: 35%;
  margin: 30px;
  padding: 30px;
}
.mainh2 {
  font-family: "Inria Sans", sans-serif;
  color: black;
  font-weight: bold;
}
#lien1,
#lien2,
li {
  color: black;
  font-family: "Comic Neue", cursive;
  font-weight: bold;
}
